@font-face {
    font-family: WinKor;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url('/win31_write/res/WinKor.woff2') format('woff2'), url('/win31_write/res/WinKor.ttf') format('truetype');
}

body {
    background-color: #a0a0a0;
    font-family: WinKor;
    font-size: 16px;
}

.window {
    margin: 5% auto;
    width: 100%;
    height: 100%;
}